.blogs {
    margin-bottom: 250px;
}

.blogs__title {
    margin-bottom: 30px;
}

.blogs__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
    margin-bottom: 60px;
}

.blog__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 466px;

}

.blog__pic {
    position: relative;
}

.blog__img {
    display: block;
    width: 100%;
}

.blog__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;
    padding: 0 20px;
    z-index: 1000;
    font-weight: 500;
    font-size: 20px;
    color: var(--base-white);
}

.blog__views {
    display: flex;
    align-items: center;
    gap: 9px;
}

.blog__views-img {
    display: block;
    width: 100%;
}


.blog__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: var(--black-100);
}

.blog__more-link {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    color: var(--beigie-100);
}

.blog__more-arrow {
    transition: .1s ease-in;
}

.blog__more-link:hover .blog__more-arrow {
    transform: translateX(5px);
}

.blogs__all-link {
    display: block;
    max-width: 223px;
    margin: 0 auto;
    text-align: center;
}

@media(max-width: 1462px) {
    .blog__item {
        min-width: 48%;
    }
}

@media(max-width: 991px) {

    .blogs {
        margin-bottom: 200px;
    }

    .blogs__list {
        column-gap: 16px;
        margin-bottom: 50px;
    }

    .blog__item {
        width: 48%;
    }
}

@media(max-width: 578px) {

    .blogs {
        margin-bottom: 180px;
    }

    .blog__item {
        max-width: 100%;
        width: 100%;
    }

    .blogs__list {
        column-gap: 0;
        row-gap: 30px;
        margin-bottom: 40px;
    }

    .blog__info {
        bottom: 8px;
        padding: 0 12px;
        font-weight: 400;
        font-size: 16px;
    }

    .blog__item {
        gap: 0;
    }

    .blog__pic {
        margin-bottom: 16px;
    }

    .blog__item-title {
        font-size: 20px;
        margin-bottom: 4px;
    }

    .blog__more-link {
        font-size: 16px;

    }

    .blogs__all-link {
        padding: 12px 71px;
    }
}